{
  "extends": "airbnb-base",
  "rules": {
    "no-inline-comments":"off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id"]
      }
    ],
    "import/newline-after-import": "off",
    "no-console": "off"
  }
}